/**
  UI.Layout CSS
*************************************/
.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Can be changed by hand ;)*/
  overflow: auto;
}

.ui-splitbar{
  display: block;
  background-color: #c4c4c4;
  right: auto;
  position: absolute;
  z-index: 100000;
}

.ui-layout-row > .ui-splitbar{
  height: 4px!important; 
  width: 100%;
  cursor: row-resize;
}
.ui-layout-column > .ui-splitbar{
  width: 4px!important; 
  height: 100%;
  cursor: col-resize;
}

#fooBar{
  position: relative;
  z-index: 100100;
}

.projectView.stretch {

}