<!DOCTYPE html>
<html ng-app="poppyProjectEditor">
	<head>
	    <title>Poppy Online</title>
	    <!-- Latest compiled and minified CSS-->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"> 
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	    <!-- UI LAYOUT -->
	   	<link rel="stylesheet" href="bower_components/angular-ui-layout/ui-layout.css"/>
	   	<!-- UI TREE -->
		<link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
		<!-- APP -->
        <link rel="stylesheet" href="css/ui-tree.css" />
        <link rel="stylesheet" href="css/ui-layout.css" />
		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body ng-controller="PoppyMainController as poppy">
		<div ui-layout>
			<div  min-size="50px" max-size="50px" style="overflow:visible; height:50px;">
				<div id="fooBar" ng-include="'/templates/foo-bar.html'"></div>
			</div>
		  	<div ui-layout="{flow : 'column'}">
		    	<div class="leftCol" min-size="300px" size="20%">
                    <div ui-layout="{flow : 'row'}" >
                        <div class="panel-default" >
                            <div class="panel-heading">
                                TreeView 
                            </div>
                            <div class="panel-body">
                                <ul role="tablist" id="myTab" class="nav nav-tabs nav-justified">
                                    <li class="active"><a href="#home" role="tab" data-toggle="tab">Content</a></li>
                                    <li><a href="#profile" role="tab" data-toggle="tab">SiteMap</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home"  ng-controller="PageTreeController as page" ng-init="loadProject()">
                                        <div ui-tree="options">
                                            <ol ui-tree-nodes ng-model="list" >
                                                <li ng-repeat="item in list" ui-tree-node ng-include="'/templates/items_renderer.html'">
                                                </li>
                                            </ol>
                                        </div>
                                        <button ng-click="loadProject('[]')">Override</button>
                                    </div>
                                    <div class="tab-pane" id="profile"  ng-controller="SitemapController as tree">
                                        <div ui-tree="sitemap">
                                            <ol ui-tree-nodes ng-model="links">
                                                <li ng-repeat="item in links" ui-tree-node ng-include="'/templates/sitemap_renderer.html'"></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        		</div>
        		<div class="rightCol">
        			<div ui-layout="{flow : 'row'}" >
                        <div class="panel-default">
                            <div class="panel-heading">
                                ProjectView {{ model.project }}
                            </div>
                            <div class="panel-body">
                                <h4>htmlOutput</h4>
                                <ul>
                                    <li ng-repeat="item in model.siteMap">{{ item.title }}</li>
                                </ul>
                                <div ng-bind-html=" model.pageTree | jsonToHtml "></div>    
							</div>
						</div>	
						<div class="dataView" size="45%">
                            <div class="panel-default">
                                <div class="panel-heading">
                                    Full Tree
                                </div>
                                <div class="panel-body">
                                    <div class="panel-projects" ng-controller="PoppyProjectController as projects" ng-init="listAllProjects()">
                                        <h4>All Projects</h4>
                                        <p ng-repeat="item in model.projects">
                                            <a href="#" ng-click="openProject(this.item.id)">{{ item.title }}</a>
                                            <a href="#" ng-click="deleteProject(this.item.id)">x</a>
                                        </p>
                                    </div>
                                    <h4>pageTree</h4>
                                    <pre class="code">{{ model.pageTree | json }}</pre>
                                    <h4>siteMap</h4>
                                    <pre class="code">{{ model.siteMap | json }}</pre>
                                    <h4>Elements</h4>
                                    <pre class="code">{{ model.elements | json }}</pre>
						      	    
                                </div>
						    </div>
		      			</div>	
					</div>
				</div>
      		</div>
    	</div>	
        <!-- LIBS -->
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="bower_components/ng-context-menu/dist/ng-context-menu.min.js"></script>
        <!-- UI-LAYOUT -->
        <script type="text/javascript" src="bower_components/angular-ui-layout/ui-layout.js"></script>
        <!-- UI TREE -->
        <script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
        <script type="text/javascript" src="bower_components/raf/index.js"></script>
        <!-- APP -->
        <script type="text/javascript" src="js/app.js"></script>
	</body>
</html>