<div ui-tree-handle ng-init="highlight = true" >
    <a class="btn btn-primary btn-xs" data-nodrag ng-mousedown="toggle(this)" ><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
        {{item.title}}         
 
</div>
    
<ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}" data-nodrop>
    <li ng-repeat="item in item.items" ui-tree-node ng-include="'/templates/elements_renderer.html'" >
    </li>
</ol>

<div  class="dropdown position-fixed" id="myMenu{{item.id}}">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
        <li>
            <a class="pointer" role="menuitem" tabindex="1" id="{{item.id}}"
               ng-click="selectElement(this)"><i class="glyphicon glyphicon-plus"></i> 
                Add Element {{item.id}}
            </a>
        </li>
        <li>
            <a class="pointer" role="menuitem" tabindex="2"
               ng-click="highlight = false"><i class="glyphicon glyphicon-pencil"></i> 
                Edit Attributes  {{item.id}}
            </a>
        </li>
    </ul>
</div>