<nav id="navi" class="navbar navbar-default" role="navigation">
	
	<div class="navbar-header">
		 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
            <li><a href="/account">Account</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Project <strong class="caret"></strong></a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">Open</a>
					</li>
					<li>
						<a href="#">New</a>
					</li>
					<li>
						<a href="#">Save</a>
					</li>
					<li class="divider">
					</li>
					<li>
						<a href="#">Close</a>
					</li>
					<li class="divider">
					</li>
					<li>
						<a href="#">Quit</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">View <strong class="caret"></strong></a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">Padded</a>
					</li>
					<li>
						<a href="#">Handles</a>
					</li>
				</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="#">Help</a>
			</li>
		</ul>
	</div>
</nav>