<div ui-tree-handle ng-init="highlight = true">
    <div context-menu class="context-handle" data-target="myMenu{{item.id}}" ng-class="{ 'highlight': highlight, 'expanded' : expanded }">
        <a class="btn btn-success btn-xs" data-nodrag ng-mousedown="toggle(this)" ><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
        {{item.title}}         
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>
    
<ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
    <li ng-repeat="item in item.items" ui-tree-node ng-include="'/templates/sitemap_renderer.html'">
    </li>
</ol>

<div  class="dropdown position-fixed" id="myMenu{{item.id}}">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
        <li>
            <a class="pointer" role="menuitem" tabindex="1" id="{{item.id}}"
               ng-click="selectElement(this)"><i class="glyphicon glyphicon-plus"></i> 
                Add Element {{item.id}}
            </a>
        </li>
        <li>
            <a class="pointer" role="menuitem" tabindex="2"
               ng-click="highlight = false"><i class="glyphicon glyphicon-pencil"></i> 
                Edit Attributes  {{item.id}}
            </a>
        </li>
    </ul>
</div>